<app-card titulo="Primeiro Component" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando conhecimento em templates" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes" cor="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two-Way Data Binding" cor="#F2D096">
    <app-two-way-date-bind></app-two-way-date-bind>
</app-card>

<app-card titulo="Renderizando listas" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componentes personalizados" cor="#FFE3DC">
    <app-componente-personalizado nome="Raphael" sobreNome="Rodrigues"></app-componente-personalizado>
    <app-componente-personalizado nome="Maria" sobreNome="Rodrigues"></app-componente-personalizado>
</app-card>

<app-card titulo="Compartilhando dados entre componentes" cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços" cor="#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="Ciclo de vida">
    <app-ciclo-de-vida></app-ciclo-de-vida>
</app-card>